{"swagger":"2.0","info":{"version":"2019-04-01-preview","title":"Microsoft Change Analysis Service - Data Plane API"},"host":"dataplane.changeanalysis.azure.com","schemes":["https"],"paths":{"/providers/Microsoft.ChangeAnalysis/changesets":{"post":{"tags":["Changeset"],"summary":"Get a set of changesets for the given resource and time interval.","operationId":"GetChangesetsAsync","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"changesetRequest","in":"body","description":"The request parameters containing the resource ID and time interval.","required":false,"schema":{"$ref":"#/definitions/ChangesetRequest"}},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success.","schema":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Changeset"}}},"401":{"description":"Unauthorized"},"404":{"description":"The resource was not found."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/changes":{"post":{"tags":["Changeset"],"summary":"Get the set of changes for the given changeset.","operationId":"GetChangesAsync","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"changeRequest","in":"body","description":"The change request containing the resource ID and the changeset.","required":false,"schema":{"$ref":"#/definitions/ChangesRequest"}},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success.","schema":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Change"}}},"401":{"description":"Unauthorized"},"404":{"description":"The resource was not found."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/resourceId":{"post":{"tags":["ResourceId"],"summary":"Map a list of host names to known resource IDs.","operationId":"GetResourceIdAsync","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"resourceIdRequest","in":"body","description":"The request containing a list of host names.","required":false,"schema":{"$ref":"#/definitions/ResourceIdRequest"}},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success.","schema":{"$ref":"#/definitions/ResourceIdReponse"}},"401":{"description":"Unauthorized"},"404":{"description":"The resource was not found."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/lastscan/{resourceId}":{"get":{"tags":["Scan"],"summary":"Get the time of the most recent scan for the given resource.","operationId":"GetLastScanTimeAsync","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"resourceId","in":"path","description":"The resource Id.","required":true,"type":"string"},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success.","schema":{"$ref":"#/definitions/LastScanResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"The resource was not found."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/submitscan/{resourceId}":{"post":{"tags":["ScanNow"],"summary":"Submits a new user request to scan for changes.","operationId":"SubmitUserScanAsync","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"resourceId","in":"path","description":"The resource Id.","required":true,"type":"string"},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"An existing request is still in progress.","schema":{"$ref":"#/definitions/UserScanResponse"}},"401":{"description":"Unauthorized"},"202":{"description":"The request was submitted."},"404":{"description":"The resource was not found."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/checkscan/{resourceId}":{"get":{"tags":["ScanNow"],"summary":"Checks the status of the most recent user-submitted scan request.","operationId":"CheckUserScanAsync","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"resourceId","in":"path","description":"The resource Id.","required":true,"type":"string"},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UserScanResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"No requests were found for the given resource."},"403":{"description":"The caller does not have permission to read the given resource."}}}},"/providers/Microsoft.ChangeAnalysis/subscription/{subscriptionId}/onboardingstate":{"get":{"tags":["Subscription"],"summary":"Get the onboarding state of the given subscription.","operationId":"GetOnboardingStateAsync","consumes":[],"produces":["text/plain","application/json","text/json"],"parameters":[{"name":"subscriptionId","in":"path","description":"The subscription ID.","required":true,"type":"string","format":"uuid"},{"name":"api-version","in":"query","description":"Required API version query parameter","required":true,"type":"string","default":"2019-04-01-preview"}],"responses":{"200":{"description":"Success.","schema":{"$ref":"#/definitions/SubscriptionOnboardingStateResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"The subscription is not found, has been suspended or unregistered."}}}}},"definitions":{"ChangesetRequest":{"type":"object","properties":{"resourceId":{"type":"string"},"startTime":{"format":"date-time","type":"string"},"endTime":{"format":"date-time","type":"string"}}},"Changeset":{"type":"object","properties":{"changeSetId":{"type":"string"},"resourceId":{"type":"string"},"source":{"enum":["None","ARG","ARM","AST"],"type":"string"},"timeStamp":{"format":"date-time","type":"string"},"timeWindow":{"type":"string"},"initiatedBy":{"type":"string"},"initiatedByList":{"uniqueItems":false,"type":"array","items":{"type":"string"}}}},"ChangesRequest":{"description":"Defines the body of a request to get the set of changes in a Microsoft.Azure.ChangeAnalysis.Changesets.Models.Changeset.","type":"object","properties":{"resourceId":{"description":"The resource ID.","type":"string"},"changeSetId":{"description":"The Changeset ID obtained from a Microsoft.Azure.ChangeAnalysis.Changesets.Models.Changeset.","type":"string"}}},"Change":{"type":"object","properties":{"timeStamp":{"format":"date-time","type":"string"},"category":{"type":"string"},"level":{"enum":["Noisy","Normal","Important"],"type":"string"},"displayName":{"type":"string"},"description":{"type":"string"},"oldValue":{"type":"object"},"newValue":{"type":"object"},"initiatedBy":{"type":"string"},"jsonPath":{"type":"string"}}},"ResourceIdRequest":{"description":"Defines the Microsoft.Azure.ChangeAnalysis.DataPlane.Models.RequestModels.ResourceIdRequest","type":"object","properties":{"subscriptionId":{"format":"uuid","type":"string"},"hostNames":{"uniqueItems":false,"type":"array","items":{"type":"string"}}}},"ResourceIdReponse":{"description":"The resource id look up API result","type":"object","properties":{"values":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/HostNameLookupResult"}}}},"HostNameLookupResult":{"description":"The look up result for a single host name","type":"object","properties":{"hostName":{"type":"string"},"resourceId":{"type":"string"}}},"LastScanResponse":{"description":"The response from a LastScan request.","type":"object","properties":{"resourceId":{"description":"The ID of the resource that was scanned.","type":"string","readOnly":true},"timestamp":{"format":"date-time","description":"The timestamp of the most recent scan.","type":"string","readOnly":true}}},"UserScanResponse":{"description":"Result of a User Scan request.","type":"object","properties":{"operationId":{"description":"A unique identifier for the requested scan operation.","type":"string","readOnly":true},"state":{"description":"The current state of the operation.","enum":["Submitted","InScan","Completed","Failed"],"type":"string","readOnly":true},"submissionTime":{"format":"date-time","description":"Time when the scan request was submitted.","type":"string","readOnly":true},"completionTime":{"format":"date-time","description":"If the requested scan has completed, then the time when it completed;\r\nOtherwise, null.","type":"string","readOnly":true}}},"SubscriptionOnboardingStateResponse":{"description":"The response from the a SubscriptionOnboardingState request.","type":"object","properties":{"subscriptionId":{"format":"uuid","description":"The subscription ID.","type":"string","readOnly":true},"state":{"description":"The state of the subscription.","enum":["None","Registered","Unregistered","Warned","Suspended","Deleted"],"type":"string","readOnly":true}}}},"securityDefinitions":{"Bearer":{"name":"Authorization","in":"header","type":"apiKey","description":"Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""}}}